@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* Header */

header {
  width: 100%;
  height: 90vh;
  background-image: url(imgs/star\ uó\ topo.png);
  background-size: cover;

  position: relative;
}

.movieName {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 30%;
  padding-top: 12%;
}

.star,
.wars {
  width: 24%;
}

.star {
  position: relative;
  left: 7%;
}

.kylo {
  width: 70%;

  position: absolute;
  z-index: 2;
  top: 1%;
  left: 10%;
}

.aside {
  width: 40%;
}

.asideDiv {
  position: absolute;
  bottom: -2%;
  margin-left: 79%;
}

/* Main */

main {
  background-image: url(imgs/80749e0e-716b-48ec-8259-38e53f5a96cb.png);
  background-repeat: no-repeat;
  background-size: 50%;
  width: 100%;
}

.divRed {
  width: 20%;
  height: 60%;
  background-image: url(imgs/strom\ trupe\ red@2x.png);
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  z-index: 3;
  position: absolute;
  left: 15%;
  bottom: -45%;
}

.divRed > h2 {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 500;
  width: 70%;
}

.divRed > p {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.788);
}

.divRed > input {
  width: 55%;
  color: white;
  font-weight: lighter;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 7%;
  padding: 4%;
}

.divRed > input:hover {
  background-color: black;
  transition: 1s;
  cursor: pointer;
}

.sobre {
  width: 43%;
  position: absolute;
  right: 10%;
  margin-top: 15%;
}

/* COLOCAR !!!!!!!!!!!!!!!!!! LINHA */

.linha1 {
  width: 75%;
  padding-top: 31%;
  position: absolute;
  left: 15%;
}

/* Estrutura do jogo section */

.firstMain {
  width: 100%;
  height: 80vh;
}

.containerEstrutura {
  height: 85vh;
  display: flex;
}

.middleMain {
  width: 100%;
  height: 77vh;
}

.lord {
  position: relative;
  left: 10%;
}

.estrutura {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.estrutura > h2 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4rem;
}

.estrutura > h2 > span {
  font-weight: 900;
}

.estrutura > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  line-height: 3.4rem;
  margin-top: 2%;
}

.estrutura > ul > li {
  height: 8vh;
}

.estrutura > ul > li:hover {
  background-color: #d74430;
  width: 100%;
  padding: 1px;
  color: white;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  transition: 0.5s;
}

/* Atributos Section */

.atributos {
  background-color: #2d2d2d;
  height: 250vh;

  display: flex;
  flex-direction: column;
}

.atributos > h2 {
  color: white;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 800;
  text-indent: 15rem;
  padding-top: 6%;
  display: flex;
  align-items: center;
}

.divAtributos {
  width: 100%;
  display: flex;
  padding-left: 9%;
}

.imgsAtributos1,
.imgsAtributos2,
.imgsAtributos3,
.imgsAtributos4 {
  width: 40%;
}

.imgBattle {
  height: 67%;
  margin: auto;
}

/* Balões de animações */

.animaçao0 {
  background-color: #60359c91;
  color: white;
  width: 35%;
  height: 50vh;
  padding: 1.5rem;
  font-size: 0.8rem;
  position: absolute;
  left: 11%;
  margin-top: 6%;
  transition: transform 1.5s;
  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.animaçao0 > p {
  width: 40%;
}

.animaçao0 > h2 {
  text-transform: uppercase;
  width: 30%;
}

.animaçao0 > button {
  width: 40%;
  color: white;
  background-color: transparent;
  border: 3px solid white;
  padding: 5px;
  transition: transform 1.5s;
}

.animaçao0:hover {
  opacity: 1;
  transform: translateX(10px) scale(1.3);
  transition: 1.5s;
  position: absolute;
}

.animaçao1 {
  background-color: #b73d30a1;
  color: white;
  width: 20%;
  height: 30vh;
  font-size: 0.7rem;
  padding: 1rem;
  position: absolute;
  transition: transform 1.5s;
  opacity: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.animaçao1 > h2 {
  width: 20%;
  text-transform: uppercase;
}

.animaçao1:hover {
  opacity: 1;
  transform: translateX(10px) scale(1.3);
  transition: 1.5s;
}

.animaçao2 {
  background-color: #cb9446b0;
  color: white;
  width: 20%;
  height: 30vh;
  font-size: 0.7rem;
  padding: 1rem;
  position: absolute;
  transition: transform 1.5s;
  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.animaçao2 > h2 {
  width: 70%;
  text-transform: uppercase;
}

.animaçao2:hover {
  opacity: 1;
  transform: translateX(10px) scale(1.3);
  transition: 1.5s;
}

.animaçao3 {
  background-color: #0a1db19f;
  color: white;
  width: 20%;
  height: 30vh;
  font-size: 0.7rem;
  padding: 1rem;
  position: absolute;
  right: 10%;
  transition: transform 1.5s;
  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.animaçao3 > h2 {
  width: 50%;
  text-transform: uppercase;
}

.animaçao3:hover {
  opacity: 1;
  transform: translateX(10px) scale(1.3);
  transition: 1.5s;
}

.animaçao4 {
  background-color: #61d025a2;
  color: white;
  width: 20%;
  height: 30vh;
  font-size: 0.7rem;
  /* border: 5px solid white;
    border-left: 0.4rem dashed; */
  padding: 1rem;

  position: absolute;
  right: 8.5%;
  margin-top: -55vh;
  transition: transform 1.5s;
  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.animaçao4 > h2 {
  width: 20%;
  text-transform: uppercase;
}

.animaçao4:hover {
  opacity: 1;
  transform: translateX(10px) scale(1.3);
  transition: 1.5s;
}

.animaçao0 > button,
.animaçao1 > button,
.animaçao2 > button,
.animaçao3 > button,
.animaçao4 > button {
  width: 40%;
  color: white;
  background-color: transparent;
  border: 3px solid white;
  padding: 5px;
  transition: transform 1s;
}

.animaçao0 > button:hover,
.animaçao1 > button:hover,
.animaçao2 > button:hover,
.animaçao3 > button:hover,
.animaçao4 > button:hover {
  transform: translateX(10px) scale(1.3);
}

.divImgsAtributos {
  margin: auto;
}

.hierarquia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgHierarquia {
  width: 83%;
}

.hierarquia > p {
  color: white;
  width: 80%;
  font-weight: 100;
  font-size: 0.9rem;

  display: flex;
  justify-content: flex-end;
  text-align: end;

  padding-left: 37%;
  margin-top: 1%;
}

/* Como jogar container */

.containerComo {
  display: flex;
}

.divComo {
  background-image: url(imgs/stortm_trooper_capa_preta-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: 30%;
  width: 100%;
  height: 105vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.divComo > h2 {
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 800;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.divBtns {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-bottom: 8%;
  margin-left: 30%;
}

.btns {
  width: 50%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20%;
}

.btns > button {
  color: white;
  background-color: black;
  width: 70%;
  height: 20%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 200;
}

.btns > button:hover {
  background-color: #d74430;
  border: none;
  cursor: pointer;
  transition: 1s;
}

.numeros {
  font-size: 2.4rem;
}

.linha2 {
  width: 25%;
  height: 2%;
  background-color: black;
}

/* Footer */

footer {
  width: 100%;
  margin-top: 30%;
  display: flex;
}

footer > section {
  background-color: #ff5a56;
  width: 85%;
}

.darth {
  width: 100%;
  position: relative;
  right: 35%;
  bottom: 8%;
}

.divDarth {
  height: 90vh;
}

.containerFooter {
  height: 110vh;
  padding-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aplicativo {
  color: white;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.aplicativo > h2 {
  width: 42%;
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 800;
}

.aplicativo > p {
  font-size: 0.9rem;
  width: 42%;
  
}

.apps {
  display: flex;
  gap: 1rem;
  margin-left: 24%;

}

.googleP,
.appStore {
  width: 35%;
}

.linhaFooter {
  width: 42%;
  height: 0.6vh;
  margin: 2%;
  background-color: #d74430;
}

.swName {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.swName > img {
  width: 20%;
  margin-right: 21%;
}

.swName > p {
  color: white;
  font-size: 0.9rem;
  width: 42%;
}

.referencia {
  width: 70%;
  font-size: 0.8rem;
  position: relative;
  left: 6%;
  bottom: 15%;
}

/* Responsive */

@media (min-width: 360px) and (max-width: 500px) {
  header {
    background-size: contain;
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
  }

  .movieName {
    position: absolute;
    bottom: 30%;
  }

  .aside {
    width: 70%;
  }

  .asideDiv {
    position: absolute;
    bottom: 52%;
  }

  main {
    position: absolute;
    top: 23%;
    height: 90vh;
  }

  .divRed {
    background-size: cover;
    width: 55%;
    height: 60%;
    position: relative;
    left: 35%;
    margin-top: 15%;
  }

  .divRed > h2 {
    width: 80%;
    font-size: 1.7rem;
    padding-bottom: 5%;
  }

  .divRed > p {
    font-size: 0.8rem;
    width: 100%;
    padding-bottom: 10%;
  }

  .divRed > input {
    font-size: 0.8rem;
    width: 70%;
  }

  .sobre {
    opacity: 0;
  }

  .divSobre {
    background-image: url(imgs/sobre\ o\ jogo\ att.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 83%;
    height: 100vh;

    position: relative;
    left: 12%;
    margin-top: 4%;
  }

  .lord {
    height: 30vh;
    position: relative;
    left: 1vw;
    top: 10vh;
  }

  .rey {
    height: 30vh;
    position: relative;
    right: 3%;
    top: 12vh;
  }

  .linha1 {
    position: relative;
    bottom: 67vh;
  }

  .middleMain {
    margin-top: 22vh;
  }

  .estrutura {
    width: 25%;
  }

  .estrutura > h2 {
    font-size: 1rem;
    height: 3vh;
  }

  .estrutura > ul {
    width: 50vw;
    font-size: 0.6rem;
    font-weight: 600;
    margin-top: 20%;
    z-index: 1;
  }

  .estrutura > ul > li {
    margin-bottom: -1.5rem;
  }

  .animaçao0,
  .animaçao1,
  .animaçao2,
  .animaçao3,
  .animaçao4 {
    display: none;
  }

  .divAtributos {
    display: flex;
    flex-direction: column;
  }

  .atributos {
    margin-top: -40vh;
    padding-right: 7%;
    height: 192vh;
  }

  .atributos > h2 {
    font-size: 1.2rem;
    text-indent: 35vw;
  }

  .divImgsAtributos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imgsAtributos1,
  .imgsAtributos2,
  .imgsAtributos3,
  .imgsAtributos4 {
    width: 90%;
  }

  .imgBattle {
    width: 90%;
  }

  .imgHierarquia {
    width: 107%;
    margin-left: 8%;
    margin-top: 5%;
  }

  .hierarquia > p {
    font-size: 0.5rem;
    width: 100%;
  }

  .divComo {
    width: 100vw;
    background-size: 90%;
    position: absolute;
    right: 35%;
  }

  .divComo > h2 {
    width: 50%;
    font-size: 1rem;
    margin-bottom: 40rem;
    margin-left: 80%;
  }

  .divBtns {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 43vw;
    top: 10vh;
  }

  .btns {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    margin-top: -15vh;
  }

  .btns > button {
    font-size: 0.8rem;
    width: 100%;
    height: 5vh;
    border: none;
    position: relative;
    top: 10vh;
  }

  .btns > span {
    margin-bottom: -10vh;
  }

  .linha2 {
    width: 50%;
  }

  .numeros {
    font-size: 1.5rem;
    position: relative;
    top: 10vh;
  }

  footer {
    margin-top: 143rem;
    display: flex;
    flex-direction: column;
  }

  footer > section {
    width: 100%;
    height: 120vh;
  }

  .aplicativo > p {
    font-size: 0.7rem;
    margin: auto;
    width: 70%;
  }

  .aplicativo > h2 {
    font-size: 2.7rem;
    width: 70%;
  }

  .swName > p {
    font-size: 0.7rem;
    margin: auto;
    width: 70%;
  }

  .swName > img {
    width: 40%;
    margin: auto;
  }

  .googleP,
  .appStore {
    width: 40%;
  }

  .apps {
    margin: auto;
    padding-left: 3.2rem;
  }

  .linhaFooter {
    width: 80%;
  }

  .divDarth {
    height: 40vh;
  }

  .darth {
    width: 80%;
    position: relative;
    left: 10vh;
    bottom: 30vh;
  }

  .referencia {
    font-size: 0.6rem;
    position: relative;
    bottom: 10vh;
    width: 90%;
  }
}
