@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Header */

header {
    width: 100%;
    height: 90vh;
    background-image: url(imgs/star\ uó\ topo.png);
    background-size: cover;

    position: relative;
}

.movieName {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center; 
    align-items: center;
    gap: 30%;
    padding-top: 12%;
}

.star, .wars {
    width: 24%;
}

.star {
    position: relative;
    left: 7%;
}

.kylo {
    width: 70%;

    position: absolute;
    z-index: 2;
    top: 1%;
    left: 10%;
}

.aside {
    width: 40%;
}

.asideDiv {
    position: absolute;
    bottom: -2%;
    margin-left: 79%;
}

/* Main */

main {
    background-image: url(imgs/80749e0e-716b-48ec-8259-38e53f5a96cb.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 98%;
    height: 1150px;
}

.divRed {
    width: 20%;
    height: 60%;
    background-image: url(imgs/strom\ trupe\ red@2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    z-index: 3;
    position: absolute;
    left: 15%;
    bottom: -45%;
}

.divRed > h2 {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 500;
    width: 60%;
}

.divRed > p {
    font-weight: 100;
    color: rgba(255, 255, 255, 0.788);
}

.divRed > input {
    width: 55%;
    color: white;
    font-weight: lighter;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 7%;
    padding: 4%;
}

.divRed > input:hover {
    background-color: black;
    transition: 1.5s;
    cursor: pointer;
}

.sobre {
    width: 43%;
    position: absolute;
    right: 10%;
    margin-top: 15%;
}

.linha1 {
    width: 75%;
    padding-top: 31%;
    position: absolute;
    left: 15%;
}

.estrutura {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-transform: uppercase;
    margin-top: -43%;
    padding-right: 28%;
    font-size: 1.6rem;
}

.estrutura > h2 {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 4rem;
}

.estrutura > h2 > span {
    font-weight: 900;
}

.estrutura > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    line-height: 3.4rem;
    margin-top: 2%;
}

.estrutura > ul > li:hover {
    background-color: #D74430;
    width: 100%;
    padding: 1px;
    color: white;
    display: flex;
    justify-content: flex-end;
}

.lord {
    width: 45%;
    margin-top: 36%;
    margin-left: 12%;
}

.rey {
    width: 22%;
    position: absolute;
    right: 8%;
    bottom: -154%;
}

/* Responsive */

@media (min-width: 201px) and (max-width: 500px) {
    
    header {
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
    }

    .movieName {
        position: absolute;
        top: -40%;
    }

    .asideDiv {
        position: absolute;
        bottom: 78%;
    }
    
    main {
        position: absolute;
        top: 17%;
    }

    .divRed {
        width: 55%;
        position: relative;
        left: 35%;
        margin-top: 15%;
    }

    .divRed > h2 {
        width: 80%;
        font-size: 0.8rem;
        padding-bottom: 15%;
    }

    .divRed > p {
        font-size: 0.5rem;
        width: 130%;
        padding-bottom: 10%;
    }

    .divRed > input {
        font-size: 0.4rem;
        width: 100%;
        border: 1px solid;
    }

    .sobre {
        display: none;
    }

    .divSobre {
        background-image: url(imgs/star\ wars\ frente\ de\ batalha.png);
        width: 100%;
        height: 80%;
    }

    .lord, .estrutura, .rey {
        display: none;
    }

}